<div>
  À partir d'un évènement du DOM, on peut interagir avec un composant, pour réaliser ce Data Binding, Angular utilise les évènements, d'où le nom d'Event Binding, avec ce mécanisme, vous pouvez être averti des évènements utilisateurs tels que le click, le frappe sur le clavier.. etc, on l'utilise comme suit:
  <markdown [data]="eventBinding"></markdown> Ou bien, <markdown [data]="eventBindingOn"></markdown>
  <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-info-sign"></span> Astuce: Vous pouvez faire de l'event binding spécique à certaines touches au niveau des évènements Keyup & Keydown.</div>
  <markdown [data]="eventBindingEnter"></markdown>
  Voici quelques exemples supplémentaires pour vous donnez une idée de ce qui est possible:
  <markdown [data]="eventBindingExamples"></markdown>
</div>
