<div>
  <ul>
    <li> Demo:
      <input #courseInput
             class="form-control"
             (keyup.enter)="addCourse(courseInput)">
      <button type="button"
              @fade
              *ngFor="let course of courses"
              (click)="removeCourse(course)"
              class="list-group-item"> {{ course }}
      </button>
    <li>
      <markdown [data]="transitionTs1"></markdown>
      Peut s'écrire, <markdown [data]="transitionTs2"></markdown>
      Encore mieux, <markdown [data]="transitionTs3"></markdown>
      Mais il est préférable d'utiliser :enter et :leave, <markdown [data]="transitionTs4"></markdown>
    </li>
  </ul>
</div>
