<div>
  Le Data Binding est un élément essentiel dans les frameworks SPA (Single Page Application), il permet la synchronisation entre la vue et le modèle JavaScript sous-jacent, voici un schéma général du fonctionnement du Data Binding.
</div>
<div class="text-center">
  <img src="./assets/images/databinding.png">
</div>
<div class="row jumbotron">
  <div class="col-xs-5">
    Les 4 types de databinding:
    <ul>
      <li><h4><a routerLink="string-interpolation" routerLinkActive="active">String Interpolation</a></h4></li>
      <li><h4><a routerLink="property-binding" routerLinkActive="active">Property Binding</a></h4></li>
      <li><h4><a routerLink="event-binding" routerLinkActive="active">Event Binding</a></h4></li>
      <li><h4><a routerLink="twoway-binding" routerLinkActive="active">Two-way Binding</a></h4></li>
    </ul>
  </div>
  <div class="col-xs-7">
    <router-outlet></router-outlet>
  </div>
</div>
