<p>
  Le Data Binding est un élément essentiel dans les frameworks de Single Page Application, il permet de synchroniser la vue au modèle JavaScript sous-jacent, voici un schéma général du fonctionnement du Data Binding.
</p>
<p class="text-center">
  <img  src="./assets/databinding.png">
</p>
<div class="jumbotron">
  Les 4 types de databinding:
  <ul>
    <li><a routerLink="string-interpolation" routerLinkActive="active">String Interpolation</a></li>
    <li><a routerLink="property-binding" routerLinkActive="active">Property Binding</a></li>
    <li><a routerLink="event-binding" routerLinkActive="active">Event Binding</a></li>
    <li><a routerLink="twoway-binding" routerLinkActive="active">Two way Binding</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
