<div *ngIf="isAuthenticated; then authenticated else notAuthenticated"></div>
<ng-template #authenticated>
  <h3>Welcome, {{ currentUserEmail }}.</h3>
  <ng-container *ngIf="employees$ | async as employees">
    <div class="col-sm-6">
      <div class="btn-group">
        <button (click)="signOut()" class="btn btn-warning">Sign Out</button>
      </div>
      <div class="input-group" *ngFor="let employee of employees">
        <label class="form-control">{{ employee.name }} </label>
        <div class="input-group-btn">
          <button class="btn btn-info" (click)="updateEmployee(employee)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button class="btn btn-danger" (click)="removeEmployee(employee.key)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <input [(ngModel)]="name" required class="form-control" #empName="ngModel">
        <div class="input-group-btn">
          <ng-container *ngIf="isEdit">
            <button class="btn btn-success" (click)="confirmUpdateEmployee(employee)">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-danger" (click)="cancel()">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </ng-container>
          <button *ngIf="!isEdit" [disabled]="!empName.valid" (click)="addEmployee(name)" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #notAuthenticated>
  <h3>Welcome, you must Sign In.</h3>
  <button (click)="signIn()" class="btn btn-success">Sign In</button>
</ng-template>
