<div class="jumbotron">
  Ceci est un projet, contenant toutes les parties concernant Angular, il s'agit d'un petit guide/référence pour rapidement se retrouver.
</div>
<h2>État d'avancement des sujets</h2>
<div>
  <app-progress-bar title="Databinding" progress="90"></app-progress-bar>
  <app-progress-bar title="Directives" progress="90"></app-progress-bar>
  <app-progress-bar title="Composants" progress="5"></app-progress-bar>
  <app-progress-bar title="Firebase" progress="70"></app-progress-bar>
  <app-progress-bar title="Forms" progress="10"></app-progress-bar>
  <app-progress-bar title="Animations" progress="50"></app-progress-bar>
  <app-progress-bar title="ngStore" progress="65"></app-progress-bar>
</div>
