<div>
  En Angular, on peut écrire dans toutes les propriétés du DOM via des attributs spéciaux sur les éléments HTML,
  entourés de crochets []. Ça fait bizarre au premier abord, mais en fait c’est du HTML valide. Un nom d’attribut HTML
  peut commencer par n’importe quoi, à l’exception de quelques caractères comme un guillemet ", une apostrophe ', un
  slash /, un égal =, un espace...
  L’interpolation <span ngNonBindable>{{ name }}</span> est juste du sucre syntaxique pour l’écriture suivante :
  <markdown [data]="textContent"></markdown>
  Le property binding s'utilise de la façon suivante:
  <markdown [data]="propertyBinding"></markdown>
  ou bien,
  <markdown [data]="propertyBindingWithBind"></markdown>
  On peut également l'utiliser pour les cas suivants:
  <ul>
    <li>Attribute Binding:
      <markdown [data]="attributBinding"></markdown>
    </li>
    <li>Class Binding:
      <markdown [data]="classBinding"></markdown>
    </li>
    <li>Style Binding:
      <markdown [data]="styleBinding"></markdown>
      ou bien,
      <markdown [data]="styleBinding2"></markdown>
    </li>
  </ul>
</div>
